<div class='post'>
  <h3>
    <%=@blog.title %></h3>
    <hr/>
  <p>
    <%= markdown @blog.content.html_safe%></p>
</div>
<div class='new_comment'>
   <h4 ><span id='comment_count'><%=@blog.comments.count%></span>条评论</h4>
   <%= render :partial => 'comments/form' %>
</div>
 <hr/>
<div class='comments' id='comment_list'>
   <%= render :partial => 'comments' %>
</div>


