<%= form_for Comment.new, :remote => true, :html => { :class => 'form-vertical',:id => 'commentForm' } do |f| %>
   <input type="hidden" name="blog_id" value=<%=@blog.id%> ></input>
   <div class="controls">
      <%= f.text_field :commenter,:class => 'span3 required',:minlength=>"20" %>邮箱(必填)
   </div>
  

   <div class="controls">
      <%= f.text_field :nickname, :class => 'span3 required' %>昵称(必填)
   </div>
     
   <div class="controls">
      <%= f.text_area :body, rows: 3,:class => 'span9' %>
  </div>

  <div class="controls">
    <%= f.submit '提交评论', :class => 'btn btn-primary' %>
  </div>
<% end %>
